.form-control:focus, .form-select:focus{
    border-color: #7DFE9D !important;
    box-shadow: none !important;
}
.order-details-row{
    background-color: #EEEEEE;
    min-height: 500px;
    border-radius: 25px 0 25px 0;
}
.price-color{
    color: #5d6b82;
}
.place-order:hover{
    background-color: black !important;
}
.success-illustration img{
    height: 200px !important;
    width: 60%;
}

