@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&family=Playfair+Display:wght@400;900&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Overlock:wght@400;900&display=swap');
/* font-family: 'Nunito', sans-serif;
font-family: 'Overlock', cursive; */ */

body{
    font-family: 'Playfair Display', serif !important;
}
.fixed-top{
    z-index: 10 !important;
}
#preloader{
    background: #000 url(../img/preloader-gif.gif) no-repeat center center;
    background-size: 15%;
    height: 100vh !important;
    width: 100% !important;
    position: fixed !important;
    z-index: 100 !important;
}

.main-blue-color{
    color: #1C3AA4;
}
.main-color-green{
    color: #7DFE9D;
}
.main-bg-blue{
    background-color: #1C3AA4;
}
.main-bg-green{
    background-color: #7DFE9D;
}
.milk-color{
    color: #e3e3e3 !important;
}
.milk-color-bg{
    background-color: #e3e3e3;
}
.container{
    width: 85% !important;
}


/* Header section */
.navbar-toggler:focus{
    box-shadow: none !important;
}
.offcanvas{
    transition: 0.5s ease-in !important;
}
.fa-cart-shopping:hover{
    color: white !important;
}
.mobile-header.active:hover, .mobile-header .offcanvas .dropdown-item:hover{
    color:#1C3AA4 !important;
}
.mobile-header .offcanvas .dropdown-toggle::after{
    margin-left: 8em;
}
.navbar-toggler-tablet{
    display: none;
}
.left-navbar{
    width: 40%;
}
.my-account-fixed{
    display: none;
}
.navbar-brand{
    width: 80px;
}



/* Hero section */
.hero-bg-1{
    background-image: url(../img/hero-bg-1.jpg);
    background-position: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-bg-2{
    background-image: url(../img/hero-bg-2.jpg);
    background-position: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-bg-1 h1, .hero-bg-2 h1{
    font-family: 'Merriweather', serif ;
}
.hero-text-1{
    margin-top: 20%;
}
.hero-text-2{
    margin-top: 60%;
}
.our-collection{
    border-radius: 0 0 35px 0;
}
.our-collection:hover{
    background-color: #1C3AA4;
}
.our-collection2{
    border-radius: 0 0 0 35px;
}
.hero-img-section{
    display: none;
}





/* HOT SELLING SECTION */
#hot-selling-section{
    padding: 80px 0;
}

.add-to-cart, .product-details{
    width: 60px;
    height: 50px;
}
.product-img img{
    height: 16rem;
    width: 100%;
}

.product-img:hover img{
    transform: scale(1.1);
    transition: 0.5s all ease-in-out;
    opacity: 0.5;
}

.product-img:hover .product-links {
    display: block !important;
    display: flex !important;
    bottom: 40%;
    left: 25%;
}
   
.product-img .product-links {
    display: none !important;
}

.swiper-button-next, .swiper-button-prev{
    top: 30%;
    color: black;
}


/* FEATURED PRODUCTS SECTION */
#featured-products{
    padding: 80px 0;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: black !important;
    border-bottom: 2px solid #1C3AA4 !important;
}


/* CATEGORIES SECTION */
#trending-categories{
    padding: 30px 0 80px 0;
}
.categories-bg-color{
    background-color: #FFC4C4;
}
.shoes-cat{
    height: 320px;
} 
.clothes-cat{
    height: 320px;  
}

.main-img-cat{
    width: 75%;
    position: absolute;
    bottom: 0;
    right: 0;
}
.shoe-img-cat{
    height: 300px;
}
.clothes-img-cat{
    height:280px;
}
.electronic-img-cat{
    width: 50%;
    bottom: 0;
    right: 0;
}
.cat-text{
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 2;
}
.shop-now{
    bottom: 100px;
    left: 30px;
}
.electronics-cat, .furniture-cat{
    height: 290px;
    width: 100%;
    position: relative;
    background-color: #FFC4C4;
}
.furniture-remove-laptop{
    display: none;
}

/* WHO WE ARE SECTION */
#who-we-are{
    padding: 80px 0;
    background: url(../img/who-we-are-bg.jpg) repeat fixed 100%;
    min-height: 100vh;
}


.who-are-we-img img{
    width: 100%;
    min-height: 200px;
}
.who-we-are-text{
    width: 100%;
    min-height: 500px;
}

/* DELIVERY SECTION */
#delivery-section{
    padding: 80px 0 80px 0;
}
.shipping-card{
    width: 80%;
    margin: auto;
}

.first-perc-img, .per-text{
    height: 300px;
    width: 100%;
}

/* FOOTER */
.logo-footer{
    width: 50%;
    height: 60px;
}
.delivery-links a:hover, .customer-service a:hover, .helpful-links a:hover{
    color: #1C3AA4 !important;
    font-weight: bold;
}

@media screen and (min-width:426px){
    /* Tablet nav */
    
    /* Navbar on scroll disappear */
    .tab-laptop-navbar{
        display: unset !important;
    }
    .hidden{
        display: none !important;
    }
    .unhidden{
        display: block !important;
    }
    .top-bar-left{
        width: 60%;
    }
    .bg-white{
        background-color: white;
    }
    .top-bar-middle{
        width: 3%;
        transform: skewX(0deg) skewY(-25deg);
        margin-top: -4px;
        margin-bottom: 4px;
    }
    .top-bar-right{
        width: 35%;
        margin-top: -1.08%;
        margin-bottom: 1.1%;
        margin-left: -5px;
        background-color: rgba(28, 58, 164, 0.7)
    }
    .my-account:hover{
        color: white !important;
        background-color: rgba(227, 227, 227, 0.3);
    }
    /* Fixed navbar on scroll for tablet and desktop */
    .unhidden{
        display: block !important;
    }
    .fa-shopping-fixed:hover{
        color: black !important;
    }
    .my-account-fixed:hover{
        background-color: black;
        color: white !important;
    }
    .navbar-fixed-2 .navbar ul li:hover{
        color:white !important;
    }
    .navbar-fixed-2 .navbar ul li .active:hover, .tab-laptop-navbar .navbar ul li .active:hover{
        color: white !important;
    }
    .navbar-fixed-2 .navbar .dropdown-menu .dropdown-item:hover, .tab-laptop-navbar .navbar .dropdown-menu .dropdown-item:hover{
        color: #1C3AA4 !important;
    }
    .offcanvas{
        width: 30% !important;
    }

    /* search input box for tablet and laptop */
    .search-navbar-box-scroll{
        width: 54.5%;
    }
    .search-navbar-box-fixed{
        width: 63%;
    }


    /* HERO SECTION */
    
    .hero-text-1, .hero-text-2{
        margin-left: 90px;
    }
    .hero-year{
        font-size: 25px !important;
    }
    .hero-text-1 h1, .hero-text-2 h1{
        width: 50%;
        font-size: 40px;
    }
    .hero-text-2{
        margin-top: 30%;
    }

    /* CATEGORY SECTION */
    .shoe-img-cat, .clothes-img-cat{
        width:60%;
    }
    .furniture-remove-laptop{
        display: block;
    }
    .furniture-table-remove{
        display: none;
    }

    /* WHO WE ARE SECTION */
    .who-are-we-img img{
        min-height: 595px;
    }
}
@media screen and (min-width:768px){
    .navbar-toggler-tablet{
        display: block;
    }
    .left-navbar{
        width: 66%;
    }
    .navbar-toggler-mobile{
        display: none;
    }
    .my-account-fixed{
        display: block;
    }

    /* CAT SECTION */
    
}

@media screen and (min-width:769px){
    .navbar-brand{
        width: 100px;
    }
    .navbar .container-fluid{
        margin:0 40px !important;
    }

    .hero-text-2, .hero-text-1{
        margin-top: 10%;
    }
    .hero-text-1, .hero-text-2{
        margin-left: 17%;
    }
    .hero-text-1 h1, .hero-text-2 h1{
        width: 70%;
        font-size: 60px;
    }
    .hero-img-section{
        display: unset;
    }
    .hero-img-conteiner{
        position: absolute;
        bottom: 10%;
    }
    .hero-img-2{
        margin-top: -30px;
    }
    .hero-img-3{
        margin-top: 30px;
    }

    /* CATEGORIES SECTION */
    .shoes-cat{
        height: 260px;
    }
    .clothes-cat{
        height: 565px;  
    }
    .clothes-img-cat{
        height:490px;
    }
    .furniture-table-remove{
        display: block;
    }
    .furniture-remove-laptop{
        display: none;
    }
    /* WHO WE ARE SECTION */
    .who-are-we-img img{
        min-height: 485px;
    }
    /* DELIVERY SECTION */
    .shipping-card{
        width: 100%;
    }
    /* FOOTER SECTION */
    .social-links{
        justify-content: start !important;
    }
}



